.products_container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #de6d6d;
    font-family: 'arial';
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-shadow: 1px 2px 3px black;
  text-align: center;
}

li {
  color: #f2f2f2;
}

html {
  background-color: #c0c8cf;
}

body {
  width: 600px;
  margin: 2 auto;
  background-color: #808080;
  padding: 0 20px 20px 20px;
  border: 2px solid white;
  border-radius: 15px
  
}

ul {
    text-align: center;
    list-style-position: inside;
}

ul {
  width: 60px;
  margin: 2 auto;
  background-color: #dc8d8d;
  padding: 0 1px 1px 1px;
  border: 2px solid #ff0101;
  border-radius: 20px;
  font-family: 'arial';
  font-size: 21px;
  font-weight: 700;
}

p {
  width: 60px;
  margin: 2 auto;
  background-color: #ffffff;
  padding: 1 50px 2px 50px;
  border: 2px solid #ff9f9f;
  border-radius: 20px;
  font-family: 'arial';
  font-size: 21px;
  font-weight: 700;
} 

input {
  background-color: #ffffff;
}
