.products_container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-shadow: 1px 2px 3px black;
  text-align: center;
}

li {
  color: #d7d7d7;
}

html {
  background-color: #c4cacf;
}

body {
  width: 600px;
  margin: 2 auto;
  background-color: #808080;
  padding: 0 20px 20px 20px;
  border: 2px solid white;
  border-radius: 15px
}
